@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #0D1321;
    font-family: 'azeret mono';
}

html{
    scroll-behavior: smooth;

}

body{
    font-family: 'azeret mono';
    max-width: 1440px;
    margin: 0 auto;
}

h2{
    font-size: 32px;
}
h3{
    font-size: 24px;
    color: #545454;
}
p{
    color: #545454;
}
nav{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

nav h1{
    font-size: 28px;
    font-weight: bolder;
}

nav button{
    background: transparent;
    font-size: 17px;
    font-weight: 500;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}



.hero-section{
    background-image: url(../assets/Hero-bg.png);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    padding: 50px 0;
    margin-bottom: 50px;
}

.hero-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1000px;
}

.hero-content .hero-img{
    width: 240px;
}

.hero-content .hero-title{
    font-size: 35px;
    text-align: center;
    margin-top: 20px;
}

.hero-content .hero-description{
    font-size: 1rem;
    text-align: center;
    margin-top: 20px;
}

.hero-content button{
    color: white;
    font-size: 1rem;
    padding: 15px;
    background-color: #0D1321;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
}


.reason-section{
    text-align: center;
    width: 75%;
    margin: 50px auto;
    background-color: #f3f3f37a;
    border-radius: 10px;
    padding: 50px;
}

.reason-section h2{
    padding: 20px 0;
}

.reasons{
    background-color: #ffff;
    border-radius: 10px;
}

.reason{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    padding: 30px;
}
.reason .reason-text{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    text-align: left;
}

.reason-text button{
    background: transparent;
    padding: 10px;
    cursor: pointer;
}


.inspiration-section{
    margin: 100px auto;
    width: 75%;
    text-align: center;
}

.inspiration-text{
    width: 50%;
    margin: auto;
}

.inspiration-section h2{
    margin: 20px 0;
}

.inspiration-section .video{
    width: 90%;
    height: 500px;
    border: 1px solid #818181;
    border-radius: 15px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.inspiration-section .video iframe{
    width: 95%;
    height: 90%;
    border-radius: 10px;
}

.current-target-section{
    width: 80%;
    margin: 100px auto;
}

.target-text{
    width: 70%;
    margin: 50px auto;
    text-align: center;
}

.target-text h2{
    margin-bottom: 20px;
}

.current-target-cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.current-target-card{
    width: 30%;
    height: 250px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.current-target-card img{
    width: 50px;
}

.current-target-card h3{
    color: #0D1321;
}

.html-card{
    background: #ff4b1e14;
}

.css-card{
    background: #004de811;
}

.js-card{
    background: #ffdd0010;
}

.next-target-section{
    width: 80%;
    margin: auto;
}

.next-target-text{
    width: 70%;
    margin: auto;
    text-align: center;
}

.next-target-text h2{
    margin-bottom: 20px;
}

.next-target-item{
    width: 100%;
    height: 150px;
    border: 1px solid #0d13213c;
    border-radius: 10px;
    margin: 20px 0;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .next-target-item .target-img{
    width: 20%;
} */

.next-target-item .target-img img{
    width: 100px;
    margin-right: 20px;
}

.next-target-item .target-details{

    display: flex;
    flex-direction: column;
    gap: 10px;
}


.support-section{
    width: 80%;
    margin: 100px auto;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ) , url(../assets/handshake.jpg) center no-repeat;
    background-size: cover;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.support-section .support-text{
    width: 60%;
    text-align: center;
    margin-bottom: 20px;
}

.support-text h2{
    color: #ffff;
    margin-bottom: 10px;
}
.support-text p{
    color: #ffffffb1;
}
.support-form{
    margin-top: 20px;
}
.support-form input{
    border: 1px solid #0d132140;
    outline: none;
    border-radius: 5px;
    background: #ffff;
    padding: 15px 25px;
    font-size: 16px;

}

.support-form input[type=text]{
    width: 500px;
    font-weight: 300;
}
.support-form input[type=button]{
    font-weight: 600;
    cursor: pointer;
}


footer{
    background: #0d13210d;
}

.footer-container{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.footer-text h3{
    font-size: 20px;
    color: #0D1321;
}